{% extends 'base.html.twig' %}

{% block title %}Player{% endblock %}

{% block body %}
    <h1>{{ player.name }} {{ player.firstname }}</h1>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <caption class="card-title">Nr. {{ player.number }}</caption>
            <ul class="list-group">
                {% for club in player.clubs %}
                    <li class="list-group-item">
                        <a href="{{ path('club_show', {'id': club.id}) }}">FC {{ club.name }}</a>
                        Nr: {{ player.number }}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <a href="{{ path('player_index') }}">back to list</a>

{% endblock %}
