{% extends 'base.html.twig' %}

{% block title %}Club {% endblock %}

{% block body %}
    <h1>Club FC {{ club.name }}</h1>

    <div class="card" style="width: 18rem;">
        <img src="{{ club.logo }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Liste des joueurs</h5>
            <ul class="list-group">
                {% for player in club.players %}
                    <li class="list-group-item">
                        <a href="{{ path('player_show', {'id': player.id}) }}">{{ player.name }} {{ player.firstname }}</a>
                        Nr: {{ player.number }}
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>


    <a href="{{ path('club_index') }}">back to list</a>

    <a href="{{ path('club_edit', {'id': club.id}) }}">edit</a>

    {{ include('club/_delete_form.html.twig') }}
{% endblock %}
